In [1]:
import pandas as pd
import numpy as np

In [2]:
notas_df = pd.read_excel('Data\\Notas.xlsx')

In [3]:
notas_df['Promedio'] = notas_df.mean(axis=1)
notas_df

               Nombre  Examen1  Examen2  Promedio
0         Juan Quispe       10       11      10.5
1    Miguel Cervantes       12       16      14.0
2       Miguel Ludeña       16        9      12.5
3         Jorge Elías       20       15      17.5
4         Julia lopez       16       12      14.0
5   Cristopher Miller        8       10       9.0
6      Yuli Rodriguez       19       18      18.5
7     Charlton Maximo       12       18      15.0
8        Dina Vasquez       14       16      15.0
9          Reece Jhon       11       12      11.5
10      Ernie Maxwell       11        8       9.5
11        Emily Dante       17       14      15.5
12        Fred Torres       20       11      15.5
13      July Fernanda       20       19      19.5
14          Nika Jons       14       13      13.5
15        Dhruv Graph       20       14      17.0
16        Malaikah Ji       16       19      17.5
17      Stefan Grados       11       18      14.5
18   Henrietta Nicole        9       11      10.0

In [4]:
notas_df['Aprobado/Desaprobado'] = np.where(notas_df['Promedio'] >= 10.5, 'Aprobado', 'Desaprobado')

In [5]:
notas_df

               Nombre  Examen1  Examen2  Promedio Aprobado/Desaprobado
0         Juan Quispe       10       11      10.5             Aprobado
1    Miguel Cervantes       12       16      14.0             Aprobado
2       Miguel Ludeña       16        9      12.5             Aprobado
3         Jorge Elías       20       15      17.5             Aprobado
4         Julia lopez       16       12      14.0             Aprobado
5   Cristopher Miller        8       10       9.0          Desaprobado
6      Yuli Rodriguez       19       18      18.5             Aprobado
7     Charlton Maximo       12       18      15.0             Aprobado
8        Dina Vasquez       14       16      15.0             Aprobado
9          Reece Jhon       11       12      11.5             Aprobado
10      Ernie Maxwell       11        8       9.5          Desaprobado
11        Emily Dante       17       14      15.5             Aprobado
12        Fred Torres       20       11      15.5             Aprobado
13      July Fernanda       20       19      19.5             Aprobado
14          Nika Jons       14       13      13.5             Aprobado
15        Dhruv Graph       20       14      17.0             Aprobado
16        Malaikah Ji       16       19      17.5             Aprobado
17      Stefan Grados       11       18      14.5             Aprobado
18   Henrietta Nicole        9       11      10.0          Desaprobado

In [6]:
condiciones = [
    (notas_df['Promedio'] >= 18),
    (notas_df['Promedio'] < 18) & (notas_df['Promedio'] >= 11),
    (notas_df['Promedio'] < 11)
]

In [7]:
resultados = ['A', 'B', 'C']

In [8]:
notas_df['Rango'] = np.select(condiciones, resultados)

In [9]:
notas_df

               Nombre  Examen1  Examen2  Promedio Aprobado/Desaprobado Rango
0         Juan Quispe       10       11      10.5             Aprobado     C
1    Miguel Cervantes       12       16      14.0             Aprobado     B
2       Miguel Ludeña       16        9      12.5             Aprobado     B
3         Jorge Elías       20       15      17.5             Aprobado     B
4         Julia lopez       16       12      14.0             Aprobado     B
5   Cristopher Miller        8       10       9.0          Desaprobado     C
6      Yuli Rodriguez       19       18      18.5             Aprobado     A
7     Charlton Maximo       12       18      15.0             Aprobado     B
8        Dina Vasquez       14       16      15.0             Aprobado     B
9          Reece Jhon       11       12      11.5             Aprobado     B
10      Ernie Maxwell       11        8       9.5          Desaprobado     C
11        Emily Dante       17       14      15.5             Aprobado     B
12        Fred Torres       20       11      15.5             Aprobado     B
13      July Fernanda       20       19      19.5             Aprobado     A
14          Nika Jons       14       13      13.5             Aprobado     B
15        Dhruv Graph       20       14      17.0             Aprobado     B
16        Malaikah Ji       16       19      17.5             Aprobado     B
17      Stefan Grados       11       18      14.5             Aprobado     B
18   Henrietta Nicole        9       11      10.0          Desaprobado     C