In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame({'A': [1, 2, 1, 3],
                   'B': [1, 1, 2, 2],
                   'C': [2, 1, 3, 1]})
df

   A  B  C
0  1  1  2
1  2  1  1
2  1  2  3
3  3  2  1

In [4]:
categories = {1: 'Alpha', 2: 'Beta', 3: 'Gamma'}

In [5]:
source_cols = df.columns
source_cols

Index(['A', 'B', 'C'], dtype='object')

In [6]:
new_cols = [str(x) + "_cat" for x in source_cols]
new_cols

['A_cat', 'B_cat', 'C_cat']

In [7]:
df[new_cols] = df[source_cols].applymap(categories.get)

In [8]:
df

   A  B  C  A_cat  B_cat  C_cat
0  1  1  2  Alpha  Alpha   Beta
1  2  1  1   Beta  Alpha  Alpha
2  1  2  3  Alpha   Beta  Gamma
3  3  2  1  Gamma   Beta  Alpha