In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    'Col A': [1, 2, 3],
    'Col B': ['A', 'B', 'C'],
    'Col C': ['Microsoft', 'Amazon', 'Apple']
})

In [3]:
df

   Col A Col B      Col C
0      1     A  Microsoft
1      2     B     Amazon
2      3     C      Apple

In [4]:
pwd

'C:\\Users\\CARLOS\\OneDrive\\Ejercicios Notebook'

In [6]:
df.to_excel('Export/Company.xlsx', index=False)